<header class="header">
  <div class="fixed-width">
    <img src="/assets/img/logo-sabrina3.png" alt="Logo">
    <div class="menu">
      <nav class="nav">
        <a href="#">{{ 'NAV.ABOUT' | translate }}</a>
        <a href="#">{{ 'NAV.SKILLS' | translate }}</a>
        <a href="#">{{ 'NAV.PORTFOLIO' | translate }}</a>
      </nav>
      <div class="language">
        <div 
            class="lang de" 
            [class.lang-active]="currentLang === 'de'" 
            [class.lang-inactive]="currentLang !== 'de'" 
            (click)="switchLanguage('de')">
            DE
        </div>
        <div 
          class="lang en" 
          [class.lang-active]="currentLang === 'en'" 
          [class.lang-inactive]="currentLang !== 'en'" 
          (click)="switchLanguage('en')">
          EN
        </div>
      </div>
    </div>
  </div>
 
  </header>
  