<header id="top" class="header">
    <div class="header-desktop">
        <a href="#top"><img src="assets/img/logo-sabrina3.png" alt="Logo" (click)="scrollToTop()"></a>
        <div class="menu-desktop">
            <nav class="nav">
                <a href="#about">{{ 'NAV.ABOUT' | translate }}</a>
                <a href="#skills">{{ 'NAV.SKILLS' | translate }}</a>
                <a href="#portfolio">{{ 'NAV.PORTFOLIO' | translate }}</a>
            </nav>
            <div class="language">
                <div 
                    class="lang de" 
                    [class.lang-active]="currentLang === 'de'" 
                    [class.lang-inactive]="currentLang !== 'de'" 
                    (click)="switchLanguage('de')">
                    DE
                </div>
                <div 
                    class="lang en" 
                    [class.lang-active]="currentLang === 'en'" 
                    [class.lang-inactive]="currentLang !== 'en'" 
                    (click)="switchLanguage('en')">
                    EN
                </div>
            </div>
        </div>
    </div>
    <div class="header-mobile">
        <img src="assets/img/logo-sabrina3.png" alt="Logo" (click)="scrollToTop()">
        <div class="burger-open" *ngIf="!menuOpen" (click)="openMenu()">
            <span class="burger-line line-one">|</span>
            <span class="burger-line line-two">|</span>
            <span class="burger-line line-three">|</span>
        </div>
        <div class="burger-close" *ngIf="menuOpen" (click)="closeMenu()">
            <span class="burger-line line-one">|</span>
            <span class="burger-line line-two">|</span>
        </div>
    </div>
    <div class="nav-mobile" [ngClass]="{ 'open': menuOpen }">
        <a href="#about" (click)="closeMenu()">{{ 'NAV.ABOUT' | translate }}</a>
        <a href="#skills" (click)="closeMenu()">{{ 'NAV.SKILLS' | translate }}</a>
        <a href="#portfolio" (click)="closeMenu()">{{ 'NAV.PORTFOLIO' | translate }}</a>
        <a href="#contact" (click)="closeMenu()">{{ 'NAV.CONTACT' | translate }}</a>
        <div class="language">
            <div 
                class="lang de" 
                [class.lang-active-mobile]="currentLang === 'de'" 
                [class.lang-inactive-mobile]="currentLang !== 'de'" 
                (click)="switchLanguage('de')">
                DE
            </div>
            <span>/</span>
            <div 
                class="lang en" 
                [class.lang-active-mobile]="currentLang === 'en'" 
                [class.lang-inactive-mobile]="currentLang !== 'en'" 
                (click)="switchLanguage('en')">
                EN
            </div>
        </div>
    </div>
</header>