<footer class="footer">
    <div class="footer-desktop">
        <div class="logo-ctn">
            <img src="assets/img/logo-sabrina3.png" alt="Logo">
             <a class="legal-link" [routerLink]="['/legal-notice']" (click)="scrollToTop()">{{ 'LEGAL-NOTICE' | translate }}</a>
        </div>
        <p>© Sabrina Fritz 2025</p>
       <div class="social-links">
            <a href="https://github.com/Sabrina1809" target="_blank"><img src="assets/img/social/github.png" alt="github logo"></a>
            <a href="mailto:Sabrina_Fritz@gmx.net"><img src="assets/img/social/mail.png" alt="mail"></a>
            <a href="https://www.linkedin.com/in/sabrina-fritz-1b4281337/" target="_blank"><img src="assets/img/social/linkedin.png" alt="linkedin logo"></a>
        </div>
    </div>
    <div class="footer-mobile">
        <img class="logo-footer" src="assets/img/logo-sabrina3.png" alt="Logo">
        <p class="footer-name">© Sabrina Fritz 2025</p>
        <div class="social-links">
            <a href="https://github.com/Sabrina1809" target="_blank"><img src="assets/img/social/github.png" alt="github logo"></a>
            <a href="mailto:Sabrina_Fritz@gmx.net"><img src="assets/img/social/mail.png" alt="mail"></a>
            <a href="https://www.linkedin.com/in/sabrina-fritz-1b4281337/" target="_blank"><img src="assets/img/social/linkedin.png" alt="linkedin logo"></a>
        </div>
        <a class="legal-link" [routerLink]="['/legal-notice']" (click)="scrollToTop()">{{ 'LEGAL-NOTICE' | translate }}</a>
    </div>
</footer>