@import '../../styles.scss'; 

.footer {
    width: 100vw;
    height: 150px;
    position: absolute;
    bottom: -170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color-dark;
    border-top: 2px solid $primary1;
    color: $primary1;
    z-index: 80;
    .legal-link {
        transition: all 0.125s ease-in-out;
        &:hover {
            color: $primary1;
        }
    }
    .footer-desktop {
        background-color: $background-color-dark;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        z-index: 15;
        & .logo-ctn {
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: start;
            text-align: left;
            img {
                width: 150px;
                clip-path: inset(28% 0 40% 0);
                margin-bottom: -65px;
                margin-top: -40px;
            }
            & a {
                padding-left: 3px;
                text-decoration: none;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        p   {
            font-size: 18px;
            padding-left: 3px;
        }
        .social-links {
            display: flex;
            align-items: center;
            height: fit-content;
            gap: 20px;
            pointer-events: auto;
            a {
                position: relative;
                z-index: 95;
                pointer-events: auto;
            }
            img {
                width: 30px;
                height: 30px;
                z-index: 94;
                transition: all 0.125s ease-in-out;
                pointer-events: auto;
                &:hover {
                    transform: scale(1.2);
                    cursor: pointer;
                }
            }
        }
    }
    .footer-mobile {
        background-color: $background-color-dark;
        display: none;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        .logo-footer {
            width: 120px;
            margin-top: -10px;
            margin-bottom: -25px;
            clip-path: inset(28% 0 40% 0);
            z-index: 30;
            &:hover {
                cursor: pointer;
            }
        }
       .social-links {
            display: flex;
            align-items: center;
            height: fit-content;
            gap: 20px;
            img {
                width: 30px;
                height: 30px;
                transition: all 0.125s ease-in-out;
                &:hover {
                    transform: scale(1.2);
                    cursor: pointer;
                }
            }
        }
        & a {
            text-decoration: none;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media(max-width: 1100px) {
    .footer {
        bottom: -220px !important;
        height: 220px !important;
        display: flex;
        align-items: center;
    }
    .footer-desktop {
        display: none !important;
    }
    .footer-mobile {
        display: flex !important;
        flex-direction: column;
        & .logo-footer {
            margin-bottom: -60px !important;
        }
        & .footer-name {
            margin-bottom: -10px !important;
        }
        & a {
            margin-top: -15px !important;
        }
    }
}

@media (max-width: 550px) {
    .footer {
        bottom: -250px !important;
    }
}