<div class="about-wrapper">
    <div class="about-ctn">
      <div class="about-text-area">
        <h1>{{ 'ABOUT.TITLE' | translate}}</h1>
        <p>
            {{ 'ABOUT.INTRO' | translate}}
        </p>
        <div class="about-info-box">
          <img src="assets/img/about/location.png" alt="" class="info-img" />
          <span class="info-text">{{ 'ABOUT.LOCATION' | translate}}</span>
        </div>
        <div class="about-info-box">
          <img src="assets/img/about/light.png" alt="" class="info-img" />
          <span class="info-text">{{ 'ABOUT.LEARNING' | translate}}</span>
        </div>
        <div class="about-info-box">
          <img src="assets/img/about/puzzle.png" alt="" class="info-img" />
          <span class="info-text">{{ 'ABOUT.SOLVE' | translate}}</span>
        </div>
      </div>
  
      <div class="about-img-ctn">
        <img src="assets/img/profil/4e-oH.png" alt="" class="about-img" />
        <div class="green-line"></div>
      </div>
  
      <img class="shadow" src="assets/img/background/about-shadow.png" alt="" />
    </div>
  </div>
  