<div class="about-wrapper"  id="about" >
    <div class="about-ctn">
        <div class="about-text-area">
            <h1 class="about-title title-fontsize">{{ 'ABOUT.TITLE' | translate}}</h1>
            <p>{{ 'ABOUT.INTRO' | translate}}</p>
            <div class="about-info-box">
                <div class="img-ctn">
                    <img src="assets/img/about/location.png" alt="" class="info-img" />
                </div>
                <span class="info-text">{{ 'ABOUT.LOCATION' | translate}}</span>
            </div>
            <div class="about-info-box">
                <div class="img-ctn">
                    <img src="assets/img/about/light.png" alt="" class="info-img" />
                </div>
                <span class="info-text">{{ 'ABOUT.LEARNING' | translate}}</span>
            </div>
            <div class="about-info-box">
                <div class="img-ctn">
                    <img src="assets/img/about/puzzle.png" alt="" class="info-img" />
                </div>
                <span class="info-text">{{ 'ABOUT.SOLVE' | translate}}</span>
            </div>
        </div>
        <img class="shadow" src="assets/img/background/about-shadow.png" alt="" />
    </div>
    <div class="image-ctn">
      <img src="assets/img/about/4e-oH.png" alt="" class="about-img" />
      <div class="green-line"></div>
    </div>
</div>