@import '../../styles.scss';  // Pfad zu deiner styles.scss
.about-ctn {
    position: relative;
    padding: 30px;
    z-index: 15;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    // border: 1px solid orange;
    justify-content: space-between;
    margin-top: -50px;
    & .about-text-area {
        width: 40%;
        & h1 {
            font-size: clamp(1.875rem, 1.1993rem + 3.3784vw, 5rem);
            margin-bottom: 20px;
        }
        & p {
            margin-bottom: 20px;
        }
        & .about-info-box {
            margin-bottom: 20px;
            display: flex;
            align-items: top;
            gap: 16px;
            & img {
                width: 30px;
                height: 30px;
                margin: 5px;
            }
        }
    }
    & .about-img-ctn {
        width: 50%;
        // border: 1px solid yellow;
        display: flex;
        align-items: center;
        & img {
            width: 400px;
            height: 400px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: 0 -90px;
            border-radius: 50%;
            border: 2px solid $primary1;
        }
        & .green-line {
            width: 100%;
            height: 2px;
            background-color: $primary1;
        }
    }
}

@media(max-width: 1800px) {
    .about-ctn {
        margin-top: -160px !important;
    }
}

@media(max-width: 1440px) {
    .about-ctn {
        margin-top: -330px !important;
        & .about-img-ctn {
            & img {
                width: 300px !important;
                height: 300px !important;
            }
        }
      
    }
}

@media(max-width: 900px) {
    .about-ctn {
        margin-top: -150px !important;
        .about-text-area {
            width: 100% !important;
        }
        .about-img-ctn {
            display: none !important;
        }
    }
}

@media(max-width: 750px) {
    .about-ctn {
        margin-top: -50px !important;
    }
}

@media(max-width: 550px) {
    .about-ctn {
        margin-top: 0px !important;
    }
}

@media(max-width: 380px) {
    .about-ctn {
        margin-top: 50px !important;
    }
}