<!-- <div class="about-ctn">
    <div class="about-text-area">
        <h1>About me</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, fugiat facilis. Rerum qui dolor itaque soluta. Nulla voluptatibus dicta asperiores?</p>
        <div class="about-info-box">
            <img src="assets/img/about/location.png" alt="" class="info-img">
            <span class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. A ab placeat nobis dolor saepe iusto excepturi praesentium magnam provident totam.</span>
        </div>
        <div class="about-info-box">
            <img src="assets/img/about/light.png" alt="" class="info-img">
            <span class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. A ab placeat nobis dolor saepe iusto excepturi praesentium magnam provident totam.</span>
        </div>
        <div class="about-info-box">
            <img src="assets/img/about/puzzle.png" alt="" class="info-img">
            <span class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. A ab placeat nobis dolor saepe iusto excepturi praesentium magnam provident totam.</span>
        </div>
    </div>
    <div class="about-img-ctn">
        <img src="assets/img/profil/4e-oH.png" alt="" class="about-img">
        <div class="green-line"></div>
    </div>
    <img class="shadow" src="assets/img/background/about-shadow.png" alt="">
</div> -->
<div class="about-wrapper">
    <div class="about-ctn">
      <div class="about-text-area">
        <h1>About me</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
          fugiat facilis.
        </p>
        <div class="about-info-box">
          <img src="assets/img/about/location.png" alt="" class="info-img" />
          <span class="info-text">Standortinformation</span>
        </div>
        <div class="about-info-box">
          <img src="assets/img/about/light.png" alt="" class="info-img" />
          <span class="info-text">Kreative Ideen</span>
        </div>
        <div class="about-info-box">
          <img src="assets/img/about/puzzle.png" alt="" class="info-img" />
          <span class="info-text">Teamarbeit</span>
        </div>
      </div>
  
      <div class="about-img-ctn">
        <img src="assets/img/profil/4e-oH.png" alt="" class="about-img" />
        <div class="green-line"></div>
      </div>
  
      <img class="shadow" src="assets/img/background/about-shadow.png" alt="" />
    </div>
  </div>
  