<div class="hero-wrapper">
    <!-- <div class="hero-width-ctn">
        <div class="img-ctn">
            <img class="profil-picture" [class.show]="showContent" src="assets/img/hero/1e-shadow2.png" alt="profil picture">
        </div>
    </div>
    <img class="img-curve" src="assets/img/background/28. Hero Background.png" alt="">
    <div class="above-curve">
         <div class="social-links">
            <div class="purple-line"></div>
            <div class="img-ctn">
                <a href="https://github.com/Sabrina1809" target="_blank"><img src="assets/img/social/github.png" alt="github logo"></a>
                <a href="mailto:contact@sabrina-fritz.de"><img src="assets/img/social/mail.png" alt=""></a>
                <a href="https://www.linkedin.com/in/sabrina-fritz-1b4281337/" target="_blank"><img src="assets/img/social/linkedin.png" alt=""></a>
            </div>
        </div>
        <div class="scroll-ctn">
            <p class="scroll-down"> {{ 'ME.SCROLL' | translate}} ➞</p>
        </div>
        <div class="me-text-width">
            <div class="me-text-area" [class.show]="showContent">
                <div class="me-text">
                    <div class="me-text-left">{{ 'ME.IAM' | translate }}</div>
                    <div class="me-text-right">
                        <p class="me-text-name">{{ typedName }}</p>
                        <p class="me-text-profession">Frontend Developer</p>
                    </div>
                </div>
                <a class="me-button" href="#contact">{{ 'ME.BUTTON' | translate }}</a>
            </div>
        </div>
    </div> -->

    <div class="image-ctn">
        <div class="image-width">
            <img class="profil-picture" [class.show]="showContent" src="assets/img/hero/1e-shadow2.png" alt="profil picture">
        </div>
    </div>
    <div class="curve-ctn">
        <img class="img-curve" src="assets/img/background/28. Hero Background.png" alt="">
    </div>
    <div class="text-ctn">
        <div class="text-width">
            <div class="me-text-area" [class.show]="showContent">
                <div class="me-text">
                    <div class="me-text-left">{{ 'ME.IAM' | translate }}</div>
                    <div class="me-text-right">
                        <p class="me-text-name">{{ typedName }}</p>
                        <p class="me-text-profession">Frontend Developer</p>
                    </div>
                </div>
                <a class="me-button" href="#contact">{{ 'ME.BUTTON' | translate }}</a>
            </div>
        </div>
    </div>
    <div class="above-curve-ctn">
    </div>
</div>