@import '../../styles.scss';
* {
    // border: 1px solid orange;
}

.hero-wrapper {
    border: 3px solid red;
    position: relative;
    overflow-x: clip;
    overflow-y: hidden;
    height: calc(100dvh - 100px);
    width: 100vw;
    margin-top: 100px;
    z-index: 2;
    & .image-ctn {
        width: 100%;
        height: 100%;
        max-width: 1440px;
        border: 1px solid lightblue;
        position: absolute;
        z-index: 5;
        left: 50%;
        translate: -50%;
        padding-left: 30px;
        & .image-width {
            position: absolute;
            left: 0;
            top: 0;
            width: 60%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: start;
            & .profil-picture-shadow {
                position: absolute;
                height: 100%;
                width: auto;
                max-width: 1100px;
                z-index: 1;
                object-fit: contain;
                opacity: 1;
                margin-top: 10%;
            }
            & .profil-picture {
                position: absolute;
                height: 100%;
                width: auto;
                max-width: 900px;
                z-index: 2;
                object-fit: contain;
                animation: _ngcontent-ng-c155788781_zoomInFade 2.5s ease-out forwards;
                animation-delay: 0s;
                opacity: 1;
                margin-top: -10%;
            }
        }
    }
    & .curve-ctn {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80%;
        // background-color: rgba(48, 166, 69, 0.542);
        border: 1px solid lightcoral;
        z-index: 6;
        .img-curve {
            border: 1px solid green;
            width: 100vw;
            position: absolute;
            height: 80%;
            min-height: 500px;
            bottom: -20%;
        }
    }
    & .text-ctn {
        width: 100%;
        height: 100%;
        border: 1px solid lightblue;
        position: absolute;
        z-index: 10;
        max-width: 1440px;
        left: 50%;
        translate: -50%;
        & .text-width {
            position: absolute;
            padding-right: 30px;
            width: 60%;
            height: 80%;
            // background-color: rgba(124, 23, 23, 0.51);
            border: 1px solid lightgrey;
            z-index: 5;
            position: absolute;
            right: 0;
            top: 0;
            .me-text-area {
                // width: 100%;
                // height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 24px;
                // margin-left: -150px;
                margin-top: 200px;
                & .me-text {
                    display: flex;
                    align-items: center;
                    overflow: visible;
                    white-space: nowrap;
                    & * { 
                        overflow: visible;
                        white-space: nowrap; 
                    }
                    & .me-text-left {
                        rotate: -90deg;
                        font-size: clamp(1.875rem, 1.5507rem + 1.6216vw, 3.375rem);
                    }
                    & .me-text-right {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        & .me-text-name {
                            font-size: clamp(3.125rem, 2.5893rem + 2.6786vw, 5rem);
                            font-weight: bold;
                            height: clamp(3.125rem, 2.5893rem + 2.6786vw, 5rem);
                            margin-bottom: 6%;
                        }
                        & .me-text-profession {
                            font-size: clamp(1.875rem, 1.5179rem + 1.7857vw, 3.125rem);
                            text-transform: uppercase;
                            line-height: 120%;
                            color: $primary2;
                        }
                    }
                }
                & .me-button {
                    text-decoration: none;
                    padding: 10px 15px;
                    background-color: $primary1;
                    border-radius: 7px;
                    transition: all 0.125s ease-in-out;
                    box-shadow: 0 0 5px black;
                    font-size: 18px;
                    z-index: 50;
                    width: max-content;
                    &:hover {
                        cursor: pointer !important;
                        padding: 10px 30px !important;
                        background-color: $primary2 !important;
                    }
                }
            }
        }
    }
    // & .above-curve-ctn {
    //     width: 100%;
    //     height: 100%;
    //     border: 1px solid lightblue;
    //     position: absolute;
    //     z-index: 10;
    //     max-width: 1440px;
    //     left: 50%;
    //     translate: -50%;
    //     .social-links {
    //         display: flex;
    //         align-items: center;
    //         gap: 20px;
    //         .purple-line {
    //             width: 100px;
    //             height: 2px;
    //             background-color: $primary2;
    //         }
    //         img {
    //             width: 30px;
    //             height: 30px;
    //             transition: all 0.125s ease-in-out;
    //             &:hover {
    //             transform: scale(1.2);
    //             cursor: pointer;
    //             }
    //         }
    //     }
     
    // }
    .scroll-ctn {
        border: 1px solid orange;
        width: 100%;
        max-width: 1440px;
        position: absolute;
        left: 50%;
        translate: -50%;
        bottom: 15%;
        z-index: 20;
        display: flex;
        justify-content: end;
        .scroll-down {
            rotate: 90deg;
            color: white; // oder deine Wunschfarbe
            animation: scrollHintAnim 2s ease-in-out infinite;
            margin-right: -50px;
        }
    }
    .social-links-ctn {
        width: 100%;
        position: absolute;
        bottom: 10%;
        z-index: 20;
        .social-links {
            display: flex;
            align-items: center;
            gap: 20px;
            .purple-line {
                width: 30%;
                height: 2px;
                background-color: $primary2;
            }
            .img-ctn {
                display: flex;
                gap: 20px;
                img {
                    width: 30px;
                    height: 30px;
                    transition: all 0.125s ease-in-out;
                    &:hover {
                        transform: scale(1.2);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


@keyframes zoomInFade {
    0% {
        opacity: 0;
        // transform: scale(0.9);
    }
    100% {
        opacity: 1;
        // transform: scale(1);
    }
}

@keyframes slideUpFade {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        transform: scale(1);
        opacity: 1;
    }
}
  

@keyframes scrollHintAnim {
    0%, 100% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateX(8px);
        opacity: 0.75;
    }
}

@media (max-width: 2400px) { 
    .purple-line {
        width: 30% !important;
    }
}

@media (max-height: 1100px) {
    .me-text-area {
        // margin-top: -50px !important;
    }
    .me-text {
        scale: 0.9 !important;
     }
}

@media (max-width: 1440px) {
    .me-text {
        scale: 0.9 !important;
    }
    .purple-line {
        width: 25% !important;
    }
    .scroll-ctn {
        right: -30px !important;
    }
}

@media (max-height: 900px) {
    .me-text-area {
        // width: 30% !important;
        margin-top: 150px !important;
        gap: 12px !important;
    }
    .me-text {
        scale: 0.7 !important;
    }
    .me-text-profession {
        margin-bottom: -10px !important
    }
}

@media (max-height: 800px) {
    .me-text-area {
        margin-top: 70px !important;
    }
    .curve-ctn {
        // bottom: -10% !important;
    }
}

@media (max-height: 700px) {
    .me-text-area {
        margin-top: 40px !important;
    }
    .curve-ctn {
        // bottom: -10% !important;
    }
}

@media (max-width: 1100px) {

}