@import '../../styles.scss';
* {
    // border: 1px solid orange;
}

.hero-wrapper {
    // border: 3px solid red;
    position: relative;
    overflow-x: clip;
    overflow-y: hidden;
    height: calc(100dvh - 100px);
    width: 100vw;
    margin-top: 100px;
    z-index: 2;
    & .image-ctn {
        width: 100%;
        height: 100%;
        max-width: 1440px;
        // border: 1px solid lightblue;
        position: absolute;
        z-index: 5;
        left: 50%;
        translate: -50%;
        padding-left: 30px;
        & .image-width {
            position: absolute;
            left: 0;
            top: 0;
            width: 60%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: start;
            & .profil-picture-shadow {
                position: absolute;
                height: 100%;
                width: auto;
                max-width: 1100px;
                z-index: 1;
                object-fit: contain;
                opacity: 1;
                margin-top: 10%;
            }
            & .profil-picture {
                position: absolute;
                height: 100%;
                width: auto;
                max-width: 900px;
                z-index: 2;
                object-fit: contain;
                animation: _ngcontent-ng-c155788781_zoomInFade 2.5s ease-out forwards;
                animation-delay: 0s;
                opacity: 1;
                margin-top: -10%;
            }
        }
    }
    & .curve-ctn {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(48, 166, 69, 0.542);
        // border: 1px solid lightcoral;
        z-index: 6;
        .img-curve {
            // border: 1px solid green;
            width: 100vw;
            position: absolute;
            height: 100%;
            min-height: 500px;
            bottom: -35%;
            object-fit: fill;
        }
    }
    & .text-ctn {
        width: 100%;
        height: 100%;
        // border: 1px solid lightblue;
        position: absolute;
        z-index: 10;
        max-width: 1440px;
        left: 50%;
        translate: -50%;
        & .text-width {
            position: absolute;
            padding-right: 30px;
            width: 60%;
            height: 80%;
            // background-color: rgba(124, 23, 23, 0.51);
            // border: 1px solid lightgrey;
            z-index: 5;
            position: absolute;
            right: 0;
            top: 0;
            .me-text-area {
                // width: 100%;
                // height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 24px;
                // margin-left: -150px;
                margin-top: 300px;
                & .me-text {
                    display: flex;
                    align-items: center;
                    overflow: visible;
                    white-space: nowrap;
                    & * { 
                        overflow: visible;
                        white-space: nowrap; 
                    }
                    & .me-text-left {
                        rotate: -90deg;
                        font-size: clamp(1.875rem, 1.5507rem + 1.6216vw, 3.375rem);
                    }
                    & .me-text-right {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        & .me-text-name {
                            font-size: clamp(3.125rem, 2.5893rem + 2.6786vw, 5rem);
                            font-weight: bold;
                            height: clamp(3.125rem, 2.5893rem + 2.6786vw, 5rem);
                            margin-bottom: 6%;
                        }
                        & .me-text-profession {
                            font-size: clamp(1.875rem, 1.5179rem + 1.7857vw, 3.125rem);
                            text-transform: uppercase;
                            line-height: 120%;
                            color: $primary2;
                        }
                    }
                }
                & .me-button {
                    text-decoration: none;
                    padding: 10px 15px;
                    background-color: $primary1;
                    border-radius: 7px;
                    transition: all 0.125s ease-in-out;
                    box-shadow: 0 0 5px black;
                    font-size: 18px;
                    z-index: 50;
                    width: max-content;
                    &:hover {
                        cursor: pointer !important;
                        padding: 10px 30px !important;
                        background-color: $primary2 !important;
                    }
                }
            }
        }
    }
    & .scroll-ctn {
        // border: 1px solid orange;
        width: 100%;
        max-width: 1440px;
        position: absolute;
        left: 50%;
        translate: -50%;
        bottom: 15%;
        z-index: 20;
        display: flex;
        justify-content: end;
        .scroll-down {
            rotate: 90deg;
            color: white; // oder deine Wunschfarbe
            animation: scrollHintAnim 2s ease-in-out infinite;
            margin-right: -50px;
        }
    }
    & .social-links-ctn {
        width: 100%;
        position: absolute;
        bottom: 10%;
        z-index: 20;
        .social-links {
            display: flex;
            align-items: center;
            gap: 20px;
            .purple-line {
                width: 40%;
                height: 2px;
                background-color: $primary2;
            }
            .img-ctn {
                display: flex;
                gap: 20px;
                img {
                    width: 30px;
                    height: 30px;
                    transition: all 0.125s ease-in-out;
                    &:hover {
                        transform: scale(1.2);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


@keyframes zoomInFade {
    0% {
        opacity: 0;
        // transform: scale(0.9);
    }
    100% {
        opacity: 1;
        // transform: scale(1);
    }
}

@keyframes slideUpFade {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        transform: scale(1);
        opacity: 1;
    }
}
  
@keyframes scrollHintAnim {
    0%, 100% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateX(8px);
        opacity: 0.75;
    }
}

// @media (max-width: 2400px) { 
//     .purple-line {
//         width: 30% !important;
//     }
// }

// @media (max-width: 1100px) {
//     .img-ctn {
//         object-fit: cover !important;
//     }
// }

// @media (max-width: 1440px) {
//     .me-text {
//         scale: 0.7 !important;
//     }
//     .purple-line {
//         width: 25% !important;
//     }
//     .scroll-ctn {
//         right: -30px !important;
//     }
// }


// @media (max-height: 900px) and (min-width: 1440px) {
//     .me-text-area {
//         margin-top: 90px !important;
//         gap: 12px !important;
//     }
//     .me-text {
//         scale: 0.9 !important;
//     }
// }

// @media (max-height: 800px) {
//     .me-text-area {
//         margin-top: 40px !important;
//     }
// }

// @media (max-width: 1100px) {
//      .me-text-area {
//         & .me-text {
//             margin-left: -30px !important;
//         }
//     }
//     .image-ctn {
//         height: 85% !important;
//         & .image-width {
//             width: 100% !important;
//             height: 100% !important;
//             & .profil-picture {
//                 margin: -10% auto 0 auto !important;
//             }
//         }
//     }
//     .text-ctn {
//         height: auto !important;
//         bottom: 6% !important;
//         & .text-width {
//             width: 100% !important;
//             height: 100% !important;
//             position: unset !important;
//             padding-right: 0px !important;
//             display: flex !important;
//             justify-content: center !important;
//             align-items: end !important;
//             padding-bottom: 4% !important;
//             & .me-text-area {
//                 margin-top: 0 !important;
//             }
//         }
//     }
//     .social-links-ctn {
//         bottom: 2% !important;
//     }
//     .scroll-ctn {
//         bottom: 9% !important;
//     }
// }

// @media (max-width: 700px) {
//     .profil-picture {
//         height: 90% !important;
//     }
//     .profil-picture-shadow {
//         height: 90% !important;
//     }
//     .scroll-ctn {
//         display: none !important;
//     }
//     .text-ctn {
//         bottom: 7% !important;
//     }
// }

// @media (max-width: 550px)  {
//     .profil-picture {
//         height: 80% !important;
//     }
//     .profil-picture-shadow {
//         height: 80% !important;
//     }
//     .curve-ctn {
//         bottom: 11% !important;
//     }
//     .text-ctn {
//         bottom: 17% !important;
//     }
//     .me-text-area {
//         gap: 0px !important
//     }
// }

// @media (max-width: 450px)  {
//     .profil-picture {
//         height: 75% !important;
//     }
//     .profil-picture-shadow {
//         height: 75% !important;
//     }
//     .text-ctn {
//         bottom: 11% !important;
//     }
//     .me-text {
//         scale: 0.6 !important;
//     }
// }

/* Landscape-Modus */
@media screen and (orientation: landscape) {
    .img-curve {
        object-fit: fill !important;
    }
}

@media screen and (orientation: landscape) and (max-width: 3000px) {
    .purple-line {
        width: 30% !important;
    }
}

@media screen and (orientation: landscape) and (max-height: 1500px) {
    .me-text-area {
        // margin-top: 300px !important;
    }
}

@media screen and (orientation: landscape) and (max-height: 1100px) {
    .me-text {
        scale: 0.9 !important;
    }
     .me-text-area {
        margin-top: 200px !important;
    }
}

@media screen and (orientation: landscape) and (max-height: 950px) {
    .me-text-area {
        margin-top: 140px !important;
    }
}

@media screen and (orientation: landscape) and (max-height: 800px) {
    .me-text-area {
        margin-top: 100px !important;
    }
}

@media screen and (orientation: landscape) and (max-height: 700px) {
    .me-text-area {
        margin-top: 30px !important;
    }
    .me-text {
        scale: 0.8 !important;
    }
    .profil-picture {
        margin-top: -8% !important;
    }
}

/* Portrait-Modus */
@media screen and (orientation: portrait) {
    .img-curve {
        object-fit: cover !important;
    }
}

@media screen and (orientation: portrait) and (max-width: 3000px) {
    .purple-line {
        width: 30% !important;
    }
}

@media screen and (orientation: portrait) and (max-height: 1500px) {
    .me-text {
        scale: 0.9 !important;
    }
    .me-text-area {
        // margin-top: 440px !important;
    }
}

@media screen and (orientation: portrait) and (max-width: 1300px) {
    .me-text {
        scale: 0.85 !important;
    }
    .me-text-area {
        margin-top: 350px !important;
    }
}

@media screen and (orientation: portrait) and (max-width: 1100px) {
    .me-text-area {
        & .me-text {
            margin-left: -30px !important;
        }
    }
    .image-ctn {
        height: 85% !important;
        & .image-width {
            width: 100% !important;
            height: 100% !important;
            & .profil-picture {
                margin: -10% auto 0 auto !important;
            }
        }
    }
    .text-ctn {
        height: auto !important;
        bottom: 6% !important;
        & .text-width {
            width: 100% !important;
            height: 100% !important;
            position: unset !important;
            padding-right: 0px !important;
            display: flex !important;
            justify-content: center !important;
            align-items: end !important;
            padding-bottom: 4% !important;
            & .me-text-area {
                margin-top: 0 !important;
            }
        }
    }
    .social-links-ctn {
        bottom: 2% !important;
    }
    .scroll-ctn {
        bottom: 9% !important;
    }
    .purple-line {
        width: calc(50% - 85px) !important;
    }
}

@media screen and (orientation: portrait) and (max-width: 800px) {
    .profil-picture {
        height: 90% !important;
    }
    .profil-picture-shadow {
        height: 80% !important;
    }
    .img-curve {
        bottom: -30% !important;
    }
    .scroll-ctn {
        display: none !important;
    }
}

@media screen and (orientation: portrait) and (max-width: 650px) {
    .profil-picture {
        height: 80% !important;
    }
    .profil-picture-shadow {
        height: 70% !important;
    }
    .img-curve {
        bottom: -23% !important;
    }
}

@media screen and (orientation: portrait) and (max-width: 450px) {
    .profil-picture {
        height: 75% !important;
    }
    .profil-picture-shadow {
        // height: 65% !important;
    }
    .img-curve {
        bottom: -20% !important;
    }
    .me-text {
        scale: 0.7 !important;
    }
    .me-text-area {
        margin-bottom: 7% !important;
        gap: 0px !important;
    }
}