<div class="contact-wrapper"  id="contact" >
    <div class="contact-ctn">
        <div class="title-line">
            <div class="purple-line"></div>
            <h1 class="title-fontsize"> {{ 'CONTACT.TITLE' | translate }} </h1>
        </div>
        <div class="form-intro-ctn">
            <div class="intro">
                <p class="question"> {{ 'CONTACT.INTRO.FIRST' | translate }} </p>
                <p> {{ 'CONTACT.INTRO.SECOND' | translate }} </p>
                <p [innerHTML]="'CONTACT.INTRO.THIRD' | translate"></p>
            </div>
            <div class="form-ctn">
                <form action="">
                    <div class="input-ctn input-not-ok">
                        <label for="name"></label>
                        <div class="icon-ctn">
                            <input type="text" name="" id="name" placeholder=" {{ 'CONTACT.INPUT.NAME-PLACEHOLDER' | translate }} ">
                            <img class="user-feedback-icon" src="assets/img/contact/error.png" alt="error">
                        </div>
                        <p class="error-message-input"> {{ 'CONTACT.INPUT.NAME-ERROR' | translate }} </p>
                    </div>
                    <div class="input-ctn input-ok">
                        <label for="email"></label>
                        <div class="icon-ctn">
                            <input type="email" name="" id="email" placeholder=" {{ 'CONTACT.INPUT.EMAIL-PLACEHOLDER' | translate }} ">
                            <img class="user-feedback-icon" src="assets/img/contact/ok.png" alt="ok">
                        </div>
                        <p class="error-message-input"> {{ 'CONTACT.INPUT.EMAIL-ERROR' | translate }} </p>
                    </div>
                    <div class="input-ctn">
                            <label for="message"></label>
                            <div class="icon-ctn">
                                <textarea name="" id="message"  rows="10" placeholder=" {{ 'CONTACT.INPUT.MESSAGE-PLACEHOLDER' | translate }} "></textarea>
                                <img class="user-feedback-icon" src="assets/img/contact/error.png" alt="error">
                            </div>
                            <p class="error-message-input"> {{ 'CONTACT.INPUT.MESSAGE-ERROR' | translate }} </p>
                    </div>
                    <div class="checkbox-line">
                        <div class="checkbox"><span>✓</span></div>
                        <p> {{ 'CONTACT.PRIVACY' | translate }} </p>
                    </div>
                    <p class="error-checkbox checkbox-not-ok"> {{ 'CONTACT.PRIVACY-ERROR' | translate }} </p>
                    <button class="btn-send-message btn-disabled" type="submit"> {{ 'CONTACT.SEND' | translate }} </button>
                </form>
            </div>
        </div>
        <img class="shadow" src="assets/img/background/shadow-purple-contact.png" alt="" />
    </div>
</div>
