<div class="contact-wrapper"  id="contact" >
    <div class="contact-ctn">
        <div class="title-line">
            <div class="purple-line"></div>
            <h1 class="title-fontsize">Contact</h1>
        </div>
        <div class="form-intro-ctn">
            <div class="intro">
                <p class="question">Got a problem to solve?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro laudantium deserunt repudiandae doloribus amet consequuntur error fugiat totam sapiente obcaecati.</p>
                <p>Need a frontend developer? Contact me!</p>
            </div>
            <div class="form-ctn">
                <form action="">
                    <div class="input-ctn">
                        <label for="name"></label>
                        <div class="icon-ctn">
                            <input type="text" name="" id="name" placeholder="Your name">
                            <img src="" alt="">
                        </div>
                        <p class="error-message-input">Your name is required</p>
                    </div>
                    <div class="input-ctn">
                        <label for="email"></label>
                        <div class="icon-ctn">
                            <input type="email" name="" id="email" placeholder="Your email">
                            <img src="" alt="">
                        </div>
                        <p class="error-message-input">Your email is required</p>
                    </div>
                    <div class="input-ctn">
                            <label for="message"></label>
                            <div class="icon-ctn">
                                <textarea name="" id="message"  rows="10" placeholder="Your Message"></textarea>
                                <img src="" alt="">
                            </div>
                            <p class="error-message-input">Your message is empty</p>
                    </div>
                    <div class="checkbox-line">
                        <label for="check-privacy"></label>
                        <div class="checkbox">✓</div>
                        <p>DATENSCHUTZ usw Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nihil?</p>
                    </div>
                    <p class="error-message-input">Please accept the privacy policy.</p>
                    <button disabled class="btn-send-message" type="submit">Send message :)</button>
                </form>
            </div>
        </div>
    </div>
</div>
