@import '../../styles.scss'; 

.contact-wrapper {
    // border: 1px solid orange;
    position: relative;
    overflow-x: clip;
    & .title-line {
        position: relative;
        display: flex;
        align-items: center;
        & .purple-line {
            position: absolute;
            // top: 40px;
            width: 30%;
            height: 2px;
            background-color: $primary2;
        }
        & h1 {
            margin-left: 32%;
        }
    }
    
    & .contact-ctn {
        width: 100%;
        max-width: 1440px;
        position: relative;
        padding: 30px;
        margin: 0 auto;
     
        & .form-intro-ctn {
            display: flex;
            gap: 10%;
            & .intro {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 40%;
                & .question {
                    font-size: 28px;
                    font-weight: bold;
                }
            }
            & .form-ctn {
                width: 50%;
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    width: 100%;
                    z-index: 20;
                    position: relative;
                    & .error-message-input {
                        color: #e61c40;
                        margin-top: 5px;
                        // margin-bottom: 16px;
                        visibility: hidden;
                        opacity: 0;
                    }
                    & label {
                        display: none;
                    }
                    & .icon-ctn {
                        position: relative;
                        width: 100%;
                        height: auto;
                        & input[type=text],[type=email], textarea {
                            width: 100%;
                            border-radius: 8px;
                            border: 1px solid $primary2;
                            background-color: transparent;
                            color: white;
                            padding: 10px 20px;
                            font-size: 16px;
                            z-index: 30;
                            position: relative;
                            outline: none;
                            &::placeholder {
                                color: white;
                                font-family: 'Poppins';
                            }
                            &:hover {
                                border: 1px solid #1CDAE6;
                            }
                        }
                        & .user-feedback-icon {
                            position: absolute;
                            right: 10px;
                            top: 7px;
                            filter: drop-shadow(0px 0px 1px black);
                            display: none;
                        }
                    }
                    & .checkbox-line {
                        display: flex;
                        gap: 16px;
                        align-items: baseline;
                        & .checkbox {
                            width: 22px;
                            height: 22px;
                            aspect-ratio: 1 / 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 2px solid $primary1;
                            & span {
                                color: $primary1;
                                font-weight: bold;
                                visibility: hidden;
                                opacity: 0;
                                transition: all 0.125s ease-in-out; /* Sanfte Übergänge */
                            }
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        .privacy-accept {
                            .highlight {
                              color: $primary1;
                              cursor: pointer;
                              text-decoration: none;
                            }
                        }
                        ::ng-deep .privacy-accept .highlight:hover {
                        text-decoration: underline;
                        cursor: pointer;
                        } 
                    }
                    // & .error-checkbox {
                    //     visibility: hidden;
                    //     opacity: 0;
                    //     color: #E61C40;
                    //     transition: all 0.125s ease-in-out; 
                    // }
                    .error-checkbox {
                        opacity: 1;
                        color: #E61C40;
                        transition: opacity 0.125s ease;
                        // min-height: 1em; /* oder so viel, wie der Text braucht */
                    }
                    .invisible {
                        opacity: 0;
                        pointer-events: none;
                    }
                    & .btn-send-message {
                        padding: 10px 20px;
                        width: fit-content;
                        text-align: center;
                        margin: 10px auto 0 auto;
                        border-radius: 8px;
                        border: none;
                        font-size: 18px;
                        transition: all 0.125s ease-in-out;
                        background-color: $primary1;
                        pointer-events: default;
                        scale: 1.0;
                        &:hover {
                            cursor: pointer;
                            scale: 1.1;
                            background-color: $primary2;
                        }
                    }
                    & .thank-you {
                        margin: 0px auto 0 auto;
                        color: $primary1;
                        opacity: 0;
                        scale: 1.0;
                    }
                }
            }
        }
    }
   .arrow-up {
        width: 35px;
        height: 35px;
        aspect-ratio: 1 / 1;
        position: absolute;
        bottom: 30px;
        right: 30px;
        border-radius: 50%;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.125s ease-in-out;
        z-index: 90;
  img {
    width: 20px;
    height: 20px;
  }

  .arrow-green {
    display: none;
  }

  .arrow-white {
    display: flex;
  }

  &:hover {
    cursor: pointer;
    border: 2px solid $primary1;
    .arrow-green {
      display: flex;
    }

    .arrow-white {
      display: none;
    }
  }
}

}


.thank-you-visible {
    animation: show-message 6s ease-in-out;
}

@keyframes show-message {
    0% {
        opacity: 0;
        scale: 1.0;
    }
    10% {
        opacity: 0.2;
        scale: 1.0;
    }
    24% {
        opacity: 1;
        scale: 1.19;
    }
    25% {
        opacity: 1;
        scale: 1.2;
    }
    100% {
        opacity: 0;
        scale: 0.8;
    }
}

.btn-disabled {
    pointer-events: none !important;
    background-color: gray !important;
    scale: 0.9 !important;
}

.shadow {
    position: absolute;
    width: 50%;
    height: auto;
    left: -10%;
    bottom: -20%;
    z-index: 10;
    pointer-events: none;
    opacity: 1;
    animation: fadeInFloat 3s ease-out forwards;
    animation-delay: 0.5s;
}

.input-ok {
    input[type=text],[type=email], textarea {
        border: 1px solid #70E61C !important;
    };
    img {
        display: flex !important;
    }
}

.input-not-ok {
    input[type=text],[type=email], textarea {
        border: 1px solid #E61C40 !important;
    };
    img {
        display: flex !important;
    }
    p {
        visibility: visible !important;
        opacity: 1 !important;
    }
}

.checkbox-ok {
        visibility: visible !important;
        opacity: 1 !important;
        transition: all 0.125s ease-in-out; 
}

.checkbox-not-ok {
        visibility: visible !important;
        opacity: 1 !important;
}

@media (max-width: 1100px) {
    .title-line {
        & .purple-line {
            // top: 30px !important;
            width: 37% !important;
            // height: 2px;
            // background-color: $primary2;
        }
        & h1 {
            margin: 20px auto 30px auto !important;
            text-align: center;
            // position: absolute;
            // left: 50%;
            // transform: translate(-50%);
        }
    }
    .form-intro-ctn {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        gap: 40px !important;
        & .intro {
           width: 100% !important;
            padding: 0 30px !important;
        }
        & .form-ctn {
            width: 100% !important;
            padding: 0 30px !important;
            margin-bottom: 50px !important;
        }
    }
    .shadow {
        // bottom: -10% !important;
        max-height: 500px !important;
    }
    .arrow-up {
        bottom: 50px !important;
        right: 50px !important;
    }
}

@media (max-width: 950px) {
    .shadow {
        bottom: -10% !important;
    }
}

@media (max-width: 700px) {
        .title-line {
        & .purple-line {
            // top: 28px !important;
            width: 32% !important;
        }
    }
     .shadow {
        bottom: -5% !important;
    }
}

@media(max-width: 550px) {
    .contact-ctn {
        padding: 0 !important;
    }
    .shadow {
        bottom: 0% !important;
    }
        .arrow-up {
        bottom: 0px !important;
        right: 30px !important;
    }
}

@media (max-width: 500px) {
        .title-line {
        & .purple-line {
            // top: 24px !important;
            width: 30% !important;
        }
    }
}

@media (max-width: 430px ) {
   .arrow-up {
        bottom: 10px !important;
        right: 20px !important;
    }
}

@media (max-width: 360px) {
        .title-line {
        & .purple-line {
            // top: 24px !important;
            width: 27% !important;
        }
    }
    
}