@import '../../styles.scss';  // Pfad zu deiner styles.scss
.me-ctn {
    // border: 1px solid orange;
    position: relative;
    width: 100%;
    height: fit-content;
    max-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-top: 70px;
    .profil-big {
      position: absolute;
      margin-top: -100px;
      top: -3%;
      right: 50%;
      width: 50%;
      height: auto;
      z-index: 2;
      object-fit: cover;

      animation: zoomInFade 2.5s ease-out forwards;
      animation-delay: 0.4s;
      opacity: 0; // initial hidden
    }
    .bg-curve-wrapper {
      // border: 1px solid orange;
      position: relative;
      width: 100%;
      height: fit-content;
      .bg-curve {
        width: 100%;
        height: auto;    // Bild passt sich der Breite an
        object-fit: cover;
        object-position: bottom;
        z-index: 10;
        display: block;
        position: relative; // !!! WICHTIG: NICHT absolute !!!
        // margin-top: 1000px;
        margin-top: 50%;
      }
      
      .social-ctn {
        position: absolute;
        bottom: 34%; // Abstand vom unteren Rand der bg-curve
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1440px;
        z-index: 16;
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 20px;
        padding-left: 30px;
        .social-links {
          display: flex;
          align-items: center;
          gap: 20px;
  
          .purple-line {
            width: 100px;
            height: 2px;
            background-color: $primary2;
          }
  
          img {
            width: 30px;
            height: 30px;
            transition: all 0.125s ease-in-out;
            &:hover {
              transform: scale(1.2);
              cursor: pointer;
            }
          }
        }
        .scroll-down {
          rotate: 90deg;
          position: absolute;
          bottom: 40px;
          right: -20px;
          color: white; // oder deine Wunschfarbe
          animation: scrollHintAnim 2s ease-in-out infinite;
          transform-origin: center;
          z-index: 30;
        }
      }
      .me-text-area {
        position: absolute;
        bottom: 53%;
        left: 58%;
        translate: -50%;
        width: max-content;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        z-index: 12;
        
        animation: slideUpFade 2.5s ease-out forwards;
        animation-delay: 0.8s;
        opacity: 0; // initial hidden
        
        // Alle Texte innerhalb .me-text dürfen nicht umbrechen und sollen sichtbar sein
        & .me-text {
          display: flex;
          align-items: center;
          overflow: visible;
          white-space: nowrap; // <-- Hier gesetzt, wirkt automatisch auf alle Kinder!
          
          & * { 
            overflow: visible;
            white-space: nowrap; 
          }
      
          & .me-text-left {
            rotate: -90deg;
            font-size: clamp(1.875rem, 1.5507rem + 1.6216vw, 3.375rem);
            margin-right: -20px;
          }
      
          & .me-text-right {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
      
            & .me-text-name {
              font-size: clamp(3.125rem, 2.5893rem + 2.6786vw, 5rem);
              font-weight: bold;
              // line-height: 120%;
              height: clamp(3.125rem, 2.5893rem + 2.6786vw, 5rem);
              margin-bottom: 6%;
            }
      
            & .me-text-profession {
              font-size: clamp(1.875rem, 1.5179rem + 1.7857vw, 3.125rem);
              text-transform: uppercase;
              line-height: 120%;
              color: $primary2;
              // margin-top: -12px;
            }
          }
        }
      
        & .me-button {
          text-decoration: none;
          padding: 10px 15px;
          background-color: $primary1;
          border-radius: 7px;
          z-index: 10;
          transition: all 0.125s ease-in-out;
          box-shadow: 0 0 5px black;
      
          &:hover {
            cursor: pointer !important;
            padding: 10px 30px !important;
            background-color: $primary2 !important;
          }
        }
      }
    }
  }

  @keyframes zoomInFade {
    0% {
    opacity: 0;
      transform: scale(0.9);
  }
    100% {
    opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes slideUpFade {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
    transform: translateY(0);
      transform: scale(1);
      opacity: 1;
    }
  }
  

  @keyframes scrollHintAnim {
    0%, 100% {
      transform: translateX(0);
      opacity: 1;
    }
    50% {
      transform: translateX(8px);
      opacity: 0.75;
    }
  }

  @media(max-width: 2400px) {
    .profil-big {
        // margin-top: -50px !important;
    }
  }

  @media(max-width: 2100px) {
    .me-ctn {
      margin-bottom: -10% !important;
    }
    .me-text-area {
      bottom: 56% !important;
    }
    .bg-curve {
      margin-top: 33% !important;
    }
    .profil-big {
      scale: 0.9 !important;
    }
    .social-ctn {
      bottom: 37% !important;
    }
  }

  @media(max-width: 1800px) {
    .me-text-area {
      bottom: 60% !important;
    }
    .bg-curve {
      margin-top: 24% !important;
    }
    .social-ctn {
      bottom: 41% !important;
    }
    .me-ctn {
      margin-bottom: -20% !important;
    }
  }

  @media(max-width: 1600px) {
    .profil-big {
      scale: 0.8 !important;
      // top: 5% !important;
    }
    .me-text-area {
      scale: 0.8 !important;
      bottom: 64% !important;
      left: 54% !important;
    }
    .bg-curve {
      margin-top: 15% !important;
    }
    .social-ctn {
      bottom: 45% !important;
    }
    .me-ctn {
      margin-bottom: -28% !important;
    }
  }

  @media(max-width: 1440px) {
    .profil-big {
        top: 2% !important;
    }
    .me-text-area {
        scale: 0.6 !important;
        bottom: 70% !important;
    }
    .bg-curve {
        margin-top: 7% !important;
    }
    .social-ctn {
      bottom: 48% !important;
    }
    .me-ctn {
      margin-bottom: -33% !important;
    }
  }

  @media(max-width: 1300px) {
    .bg-curve {
      margin-top: 3% !important;
    }
    .me-ctn {
      margin-bottom: -36% !important;
    }
  }

  @media(max-width: 900px) {
    .bg-curve {
        margin-top: 2% !important;
    }
    .profil-big {
        // width: 70%;
        left: 50% !important;
        translate: -50% !important;
        top: 0% !important;
    }
    .me-text-area {
        bottom: 30% !important;
        margin: 0 auto !important;
        left: 50% !important;
        translate: -50% !important;
        z-index: 12 !important;
    }
    .social-ctn {
      bottom: 24% !important;
    }
    .social-links {
      scale: 0.9 !important;
    }
    .me-text-left {
      scale: 0.9 !important;
    }
    p {
      scale: 0.9 !important;
    }
  }

  @media(max-width: 750px) {
    .profil-big {
        top: 3% !important;
    }
    .bg-curve {
        margin-top: 0% !important;
    }
    .me-text-area {
      bottom: 25% !important;
  }
    .social-ctn {
      bottom: 15% !important;
      & p {
        display: none !important;
      }
    }
  }

  @media(max-width: 650px) {
    .social-ctn {
      // bottom: 10% !important;
    }
  }

  @media(max-width: 600px) {
    .profil-big {
      top: 5% !important;
  }
    .bg-curve {
        // margin-top: 50px !important;
    }
    .me-text-area {
      bottom: 20% !important;
    }
    .social-ctn {
      & img {
        width: 27px !important;
        height: 27px !important;
      }
      & p {
        right: -20px !important;
      }
    }
  }

  @media(max-width: 520px) {
    .profil-big {
      top: 8% !important;
  }
  .me-text-area {
    bottom: 17% !important;
  }
    .social-ctn {
      bottom: 7% !important;
    }
  }

  @media(max-width: 470px) {
    .social-ctn {
      // bottom: 0% !important;
    }
  }

  @media(max-width: 450px) {
    .social-ctn {
      bottom: 3% !important;
    }
    .purple-line {
      width: 75px !important;
  }
  .profil-big {
    top: 12% !important;
  }
    .bg-curve {
      // margin-top: 40px !important;
  }
    .me-text-area {
      bottom: 10% !important;
      scale: 0.5 !important;
      // top: 230px !important;
    }
  }

  @media(max-width: 400px) {
    .bg-curve {
      margin-top: -2% !important;
    }
    .profil-big {
      top: 18% !important;
    }
    .me-text-area {
      bottom: 5% !important;
    }
    .social-ctn {
      // bottom: -12% !important;
    }
  }

  @media(max-width: 340px) {
    .social-ctn {
      // bottom: -14% !important;
    }
  }