<div class="me-ctn">
    <!-- <div class="profil-big-wrapper"> -->
      <img class="profil-big" src="assets/img/profil/1e-shadow2.png" alt="">
    <!-- </div> -->
    <img class="bg-curve" src="assets/img/background/28. Hero Background.png" alt="">
    <div class="me-text-area">
        <div class="me-text">
            <div class="me-text-left">{{ 'ME.IAM' | translate }}</div>
            <div class="me-text-right">
                <p class="me-text-name">Sabrina Fritz</p>
                <p class="me-text-profession">Frontend Developer</p>
            </div>
        </div>
        <a class="me-button" href="#">
            {{ 'ME.BUTTON' | translate }}
        </a>
    </div>
  </div>
  