@import '../../styles.scss';  // Pfad zu deiner styles.scss

.skills-wrapper {
    position: relative;
    overflow-x: clip;
}

.shadow {
    position: absolute;
    width: 50%;
    height: auto;
    left: -30%;
    top: 0;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    animation: fadeInFloat 3s ease-out forwards;
    animation-delay: 0.5s;
  }

  @keyframes fadeInFloat {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    50% {
      opacity: 0.5;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.skills-ctn {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 70px auto 70px auto;
    max-width: 1440px;
    text-align: right;
    position: relative;
    z-index: 12;
    & .part-one {
        padding-left: 53%;
        position: absolute;
        right: 0;
        z-index: 13;
        & .skills-title-ctn {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: right;
            gap: 20px;
            z-index: 50;
            margin-bottom: 20px;
            & .skills-title {
                // font-size: clamp(1.875rem, 1.1993rem + 3.3784vw, 5rem) !important;
            }
            & .purple-line {
                width: 100px;
                height: 2px;
                background-color: $primary2;
            }
        }
        & p {
            margin-bottom: 20px;
        }
    }
    & .skills-icons {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
        & .skill, .skill-purple {
            width: 85px;
            height: 110px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            & img {
                width: 48px;
                height: 48px;
                margin: 0 auto;
                aspect-ratio: 1 / 1;
            }
            & span {
                display: block;
                margin-top: 8px;
                font-size: 14px;
                text-align: center;
            }
        }
    }
    & .part-two {
        width: 50%;
        z-index: 13;
    }
    & .part-three {
        position: absolute;
        top: 170px;
        right: 0;
        display: flex;
        align-items: end;
        flex-direction: column;
        padding-left: 53%;
        z-index: 13;
        & .skills-question {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        & .skills-contact-btn {
            margin-top: 20px;
            text-decoration: none;
            padding: 10px 15px;
            background-color: $primary1;
            border-radius: 7px;
            z-index: 10;
            transition: all 0.125s ease-in-out;
            box-shadow: 0 0 5px black;
            width: fit-content;
            &:hover {
                cursor: pointer !important;
                padding: 10px 30px !important;
                background-color: $primary2 !important;
            }
        }
    }
}

.skill-purple {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease;
  
    &.animate-in {
      opacity: 1;
      transform: translateY(0);
    }
  
    & span {
      color: $primary2;
    }
  }
  

.skills-ctn .skills-text .skills-question .highlight {
    color: #9747FF !important;
}

.skill {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease;
  }
  
  .skill.animate-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  
@media(max-width: 900px) {
    .part-one {
        padding-left: 0% !important;
        position: relative !important;
    }
    .part-two {
        width: 100% !important;
    }
    .skills-icons {
        justify-content: right !important;
    }
    .part-three {
        padding-left: 0% !important;
        position: relative !important;
        top: unset !important;
    }
} 

@media(max-width: 660px) {
    .skills-icons {
        // justify-content: center !important;
    }
    .skills-contact-btn {
        margin: 20px auto 0 auto !important;
    }
}