@import '../../styles.scss';

.portfolio-wrapper {
    position: relative;
    overflow-x: clip;
    scroll-margin-top: 100px;
    & .title-line {
        margin-top: 70px;
        position: relative;
        display: flex;
        align-items: center;
        padding-top: 100px;
        & .line-left {
            position: absolute;
            left: calc(40% - 150px);
            width: 10%;
            height: 2px;
            background-color: $primary2;
        }
        & h1 {
            text-align: center;
            margin: 0 auto;
        }
        & .line-right {
            position: absolute;
            right: 0;
            width: calc(50% - 150px);
            height: 2px;
            background-color: $primary2;
        }
    }
}

.shadow {
    position: absolute;
    width: 50%;
    max-width: 500px;
    height: auto;
    max-height: 1000px;
    left: 10%;
    bottom: 30%;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    animation: fadeInFloat 3s ease-out forwards;
    animation-delay: 0.5s;
}


.shadow-two {
    position: absolute;
    width: 50%;
    max-width: 500px;
    height: auto;
    right: 0;
    bottom: 160px;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    animation: fadeInFloat 3s ease-out forwards;
    animation-delay: 0.5s;
}

@keyframes fadeInFloat {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}

.portfolio-ctn {
    width: 100%;
    max-width: 1440px;
    padding: 70px 50px 0 50px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    & .portfolio-intro {
        position: relative;
        z-index: 20;
    }
    & .portfolio-projects {
        & .project-ctn {
            position: relative;
            margin: 100px auto;
            display: flex;
            gap: 100px;
            justify-content: center;
            align-items: start;
            text-align: left;
            z-index: 13;
            & .project-info {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                & .project-title {
                    color: $primary2;
                    font-weight: bold;
                    font-size: 32px;
                    text-shadow:
                    -0.5px -0.5px 0  rgba(0, 0, 0, 0.25),
                     0.5px -0.5px 0  rgba(0, 0, 0, 0.25),
                    -0.5px  0.5px 0  rgba(0, 0, 0, 0.25),
                     0.5px  0.5px 0  rgba(0, 0, 0, 0.25);
                }
                & .project-skills {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    & .project-skill {
                        color: $primary1;
                        font-size: 24px;
                        text-shadow:
                            -0.5px -0.5px 0  rgba(0, 0, 0, 0.25),
                            0.5px -0.5px 0  rgba(0, 0, 0, 0.25),
                            -0.5px  0.5px 0  rgba(0, 0, 0, 0.25),
                            0.5px  0.5px 0  rgba(0, 0, 0, 0.25);
                        width: fit-content;
                        overflow: visible;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 20px;
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            border-right: none;
                            padding-right: 0;
                        }
                    }
                }
                & .project-description {
                    font-size: 16px;
                }
                & .button-line {
                    display: flex;
                    gap: 70px;
                    & .button {
                        text-decoration: none;
                        padding: 15px 30px;
                        border-radius: 10px;
                        transition: all 0.125s ease-in-out;
                        font-size: 24px;
                        box-shadow: 0 0 1px black;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    & .btn-test {
                        border: 1px solid $primary2;
                        background-color: $primary2;
                        &:hover {
                            border: 1px solid $primary1;
                            background-color: $primary1;
                        }
                    }
                    & .btn-github {
                        border: 1px solid $primary1;
                        background-color: transparent;
                        &:hover {
                            background-color: $primary1;
                        }
                    }
                }
            }
            &:nth-child(even) {
                justify-content: right;
                flex-direction: row-reverse;
                text-align: right;
                & .button-line {
                    justify-content: right;
                }   
                & .project-skills {
                    justify-content: right;
                }         
            }
        }
    }
}

.laptop-wrapper {
    position: relative;
    width: 600px;
    height: auto;
    .laptop-frame {
        width: 100%;
        display: block;
        z-index: 2;
        position: relative;
    }
    .laptop-screen {
        position: absolute;
        top: 12.5%;
        left: 9%;
        width: 82%;
        height: 68%;
        object-fit: cover;
        z-index: 1;
        border-radius: 4px;
        transition: opacity 0.5s ease-in-out;
    }
}

.project-img-link {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.project-img {
    width: 500px;
    height: auto;
    object-fit: contain;
    transition: all 0.125s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, filter 0.125s ease, transform 0.125s ease-in-out;
    margin: 0 auto;
    filter: drop-shadow(0 0 5px black);
    &.show {
        opacity: 1;
        transform: translateY(0);
    }
    &.fade {
        opacity: 0.7;
    };
    // &:hover {
    //     transform: scale(1.02);
    //     filter: drop-shadow(0 0 15px white);
    //     cursor: pointer;
    // }
}

  
.project-info {
    transform: perspective(1000px) rotateY(90deg) scale(0.95);
    opacity: 0;
    transition:
        transform 0.8s ease,
        opacity 0.8s ease,
        filter 0.8s ease;
    transform-origin: left;
    margin: 0 auto;
    filter: grayscale(1) brightness(0.9);
    &.flip {
        transform: perspective(1000px) rotateY(0) scale(1);
        opacity: 1;
        filter: grayscale(0) brightness(1);
    }
}

@media (max-width: 1600px) {
    .shadow {
        bottom: 50% !important;
    }
}
  
@media(max-width: 1100px) {
    .title-line {
        padding-top: 50px !important;
        & .line-left {
            left: 25% !important;
            width: 10% !important;
        }
        & .line-right {
            width: 35% !important;
        }
    }
    .portfolio-projects {
        margin-top: 70px !important;
    }
    .project-ctn {
        flex-direction: column;
        justify-content: center !important;
        gap: 30px !important;
        margin: 30px auto 100px auto !important;
        &:nth-child(even) {
            flex-direction: column !important;
            text-align: left !important;
            justify-content: center !important;
        }
        & .project-info {
            text-align: center;
        }
        & .project-skills {
            display: flex !important;
            justify-content: center !important;
            max-width: 80%;
            margin: 0 auto;
            flex-wrap: wrap;
            text-align: center;
        }
        & .button-line {
            justify-content: center !important;
        }
        & .project-img {
            width: 80%;
            max-width: 500px;
        }
    }
}

@media (max-width: 900px) {
     .shadow-two {
        bottom: 250px !important;
    }
    .shadow {
        bottom: 60% !important;
        left: 5% !important;
    }
}

@media(max-width: 750px) {
    .title-line {
        & .line-left {
            left: 20% !important;
            width: 10% !important;
        }
        & .line-right {
            width: 32% !important;
        }
    }
    .button-line {
        scale: 0.9 !important;
        gap: 40px !important;
    }
    .shadow {
        bottom: 70% !important;
    }
    .shadow-two {
        bottom: 300px !important;
        right: -2% !important;
    }
     .portfolio-ctn {
        padding: 50px 30px 0 30px !important;
        & .portfolio-projects {
            margin-top: 50px !important;
        }
    }
}


@media(max-width: 500px) {
    .title-line {
        & .line-left {
            left: 18% !important;
            width: 10% !important;
        }
        & .line-right {
            width: 28% !important;
        }
    }
    .button-line {
        scale: 0.8 !important;
        gap: 30px !important;
        & a {
            font-size: 20px !important;
            padding: 7px 15px !important;
        }
    }
    .shadow-two {
        bottom: 370px !important;
    }
}