<section class="privacy-policy" id="top">
    <h1 class="title-fontsize" [innerHTML]="'PRIVACY.TITLE' | translate"></h1>
    <h2>{{ 'PRIVACY.GENERAL.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.GENERAL.TEXT' | translate }}</p>
    <h2>{{ 'PRIVACY.CONTROLLER.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.CONTROLLER.TEXT-NAME' | translate }}</p>
    <p>{{ 'PRIVACY.CONTROLLER.TEXT-STREET' | translate }}</p>
    <p>{{ 'PRIVACY.CONTROLLER.TEXT-CITY' | translate }}</p>
    <p>{{ 'PRIVACY.CONTROLLER.TEXT-MAIL' | translate }}</p>
    <h2>{{ 'PRIVACY.FORMDATA.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.FORMDATA.INTRO' | translate }}</p>
    <ul>
        <li *ngFor="let item of ('PRIVACY.FORMDATA.LIST' | translate)">{{ item }}</li>
    </ul>
    <p>{{ 'PRIVACY.FORMDATA.NOTE' | translate }}</p>
    <h2>{{ 'PRIVACY.LEGALBASIS.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.LEGALBASIS.TEXT' | translate }}</p>
    <h2>{{ 'PRIVACY.STORAGE.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.STORAGE.TEXT' | translate }}</p>
    <h2>{{ 'PRIVACY.RIGHTS.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.RIGHTS.TEXT' | translate }}</p>
    <ul>
        <li *ngFor="let right of ('PRIVACY.RIGHTS.LIST' | translate)">{{ right }}</li>
    </ul>
    <p>{{ 'PRIVACY.RIGHTS.NOTE' | translate }}</p>
    <h2>{{ 'PRIVACY.SSL.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.SSL.TEXT' | translate }}</p>
    <h2>{{ 'PRIVACY.HOSTING.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.HOSTING.TEXT' | translate }}</p>
    <h2>{{ 'PRIVACY.CONTACT.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.CONTACT.TEXT' | translate }}</p>
    <div class="arrow-up" (click)="goBack()">
        <img class="arrow-white" src="assets/img/contact/arrow-white.png" alt="arrow up">
        <img class="arrow-green" src="assets/img/contact/arrow-green.png" alt="arrow up">
    </div>
</section>
<app-footer></app-footer>