<div class="impressum-ctn">
    <h1>{{ 'LEGAL-PAGE.TITLE' | translate }}</h1>
    <h2>{{ 'LEGAL-PAGE.HEADER-ONE' | translate }}</h2>
    <p> Sabrina Fritz <br>
        Mühlmatt 54 <br>
        77723 Gengenbach <br>
        Deutschland
    </p>
    <p>
        <b>E-Mail: </b> 
        <a href="mailto:Sabrina_Fritz&#64;gmx.net">Sabrina_Fritz&#64;gmx.net</a>
        <br>
        <b> {{ 'LEGAL-PAGE.PHONE' | translate }}: </b> 
        <a href="tel:+491741495568">01741495568</a> 
    </p>
    <h2>{{ 'LEGAL-PAGE.HEADER-TWO' | translate }}</h2>
    <p class="last-part">{{ 'LEGAL-PAGE.TEXT' | translate }}</p>
    <div class="arrow-up" (click)="goBack()">
        <img class="arrow-white" src="assets/img/contact/arrow-white.png" alt="arrow up">
        <img class="arrow-green" src="assets/img/contact/arrow-green.png" alt="arrow up">
    </div>
</div>
<app-footer></app-footer>