<div class="impressum-ctn">
    <h1>{{ 'LEGAL-NOTICE' | translate }}</h1>
    <h2> Angaben gemäß § 5 TMG:</h2>
    <p> Sabrina Fritz <br>
        Mühlmatt 54 <br>
        77723 Gengenbach <br>
        Deutschland
    </p>
    <p>
    <b>E-Mail: </b> <a href="mailto:Sabrina_Fritz&#64;gmx.net">Sabrina_Fritz&#64;gmx.net</a>
 <br>
    <b>Telefon: </b> <a href="tel:+491741495568">01741495568</a> 
    </p>
    <!-- <p>Umsatzsteuer-ID: </p> -->
    <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:  </h2>
    <p>Sabrina Fritz (Anschrift wie oben)</p>
</div>
<app-footer></app-footer>